name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: 'Inkomst: Lägg till i listan'
      id: inkomst-lagg-till-i-listan
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: 'Inkomst: Lägg till i listan'
        setup-command: npm install
        command: npx jest -t 'Should add an item to the income list'
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        INKOMST-LAGG-TILL-I-LISTAN_RESULTS: "${{steps.inkomst-lagg-till-i-listan.outputs.result}}"
      with:
        runners: inkomst-lagg-till-i-listan
